@media (max-width:1208px) {
        .header-index{
            width:350px;
        }
        .header-right-body{
            font-size: 3.1rem ;
        }
    }
    
    @media (max-width:751px){
        .header-right-body{
            font-size: 2.5rem ;
        }
        .header{
            margin-top:15%;
        flex-direction: column;
    }
}