@import url("./main.css");


body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color:inherit;
}


/* navbar */

.navbar{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 1.3rem;
    padding:0.5rem;
    background-color:var(--brand-color);
}

.navbar-menu{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.navbar-item{
    margin-left: 1rem;
    padding:.5rem;
    border-radius: 10px;
    transition: var(--animation-speed) ease;
    cursor:pointer;
}
.navbar-item:hover{
    background-color:var(--brand-color-hover);

}

.m-end-auto{
    margin-left: auto;
}

/* navbar end */


/* left icon social */
.home-social a{
    color: rgba(0,0,0,0.5);

}

.home-social{
    position:fixed;
    width: 3rem;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:2rem;
}

.home-social-parent{
    list-style:none;
    margin-bottom:50px;
}


.home-social-child{
    position: relative;
}

.home-social-icon i:hover{
    color: var(--brand-color);
    font-size: 2.8rem;
    transition: color var(--animation-speed);
}

.home-social-child
{
    padding:0.5rem;
    font-size:2.5rem;
    margin-top: 1rem;
}

/* burger menu */
.burger-menu
{
    padding:0.5rem;
    display:none;
    cursor:pointer;
}


.bar{
    display:block;
    width:30px;
    height:3px;
    margin-top:6px;
    background-color: red;
    margin-left: auto;
    transition: all .5s ease;

}

/* left icon social */




/* body header main start */
.header{
    width: calc(100vw - 8rem);
    height: calc(100vh - 12rem);
    margin:4rem 4rem;
}

img{
    width: 450px;
    border-radius: 50px 500px 10px 50px;
}

header{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.header-right-body{
    text-align:center;
    font-size: 5rem;
}

.header-right{
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hire_me{
    margin-top: 3rem;
    width: 150px;
    height: 50px;
    font-size: 2rem;
    border:none;
    border-radius: 10px;
    border: 1px solid rgba(19, 99, 223,0.5);
    background-color: var(--secondary);
    color: white;
    transition:  var(--animation-speed) ease;
}
.hire_me:hover{
    background-color: white;
    color: black;
    /* transition: all var(--animation-speed); */
    cursor:pointer;
}

.developer{
    text-decoration: underline;
    color: var(--secondary);

}
/* body header main start */




/* drop down menu */
.dropdown-menu-hover{
    position: relative;
}
.dropdown-menu-body{
    width:100%;
    list-style: none;
    display: none;
    padding: .3rem;
    border-radius: 5px;
    position:absolute; 
    top: 100%;
    left:0;
    background-color:var(--brand-color);
    font-size: 1rem;
}

.dropdown-menu-item{
    margin-top:.3rem;
    padding:.2rem .5rem;
    border-bottom: 1px solid #fff;
    border-radius:5px;
}
.navbar-item:hover > ul{
    margin-top:.1rem;
    display: block;
    transition: 1s;
}

.dropdown-menu-item:hover{
    background-color:var(--brand-color-hover)
}

.dropdown-menu-item {
    font-size: 1rem;
}

/* drop down menu end */